* {
    font-family: 'Noto Sans KR', sans-serif;
}

.radio-buttons {
    display: none;
}

body {
    background-color: lightgray;
}

h1 {
    font-weight: bold;
}
td.name:hover {
    background-color: lightgray; /* 마우스를 올릴 때 음영 변경 */
    cursor: pointer;
}
.order {
    width: 900px;
    margin: 60px auto 0px auto;
    padding-bottom: 30px;
    font-size: 13px;
}
.container {
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
  }
  
  .page {
    display: inline-block; /* 요소를 인라인 블록 요소로 만듭니다. */
  }
.mybtn {
    width: 100%;
}


.order>table {
    margin: 40px 0;
    font-size: 18px;
}

option {
    color: black;
}

.detail {
    background-color: wheat;
    padding: 5px;

}
.detail2 {
    background-color: aquamarine;
    padding: 5px;
}

.inreagent {
    background-color: white;
    padding: 5px;

}
.a4-page {
    page-break-after: always;
    width: 210mm;
    height: 297mm;
    margin: 20mm;
  }
  
  .item {
    width: 48%;
    float: left;
    border: 1px solid #000;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .item p {
    margin: 0;
  }
  
  button {
    display: block;
    margin-top: 10px;
  }