<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="/static/script.js"></script>
  <script src="/static/jquery-3.7.1.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <link rel="icon" type="image/x-icon" href="/static.favicon.ico">

  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/styles.css">


  <title>시약 등록 관리</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
  </style>

  <script>

    $(document).ready(function () {
      instrument_and_user_list();
      search1();
      reagent();
    });

    function instrument_and_user_list() {
      fetch('/instrument_and_user_list').then((res) => res.json()).then((data) => {
        let rows = data['instrument']
        console.log(rows)
        let rows2 = data['user']

        rows.forEach((b) => {
          let instrument1 = b["instrument"]
          // let instrument1 = b[0]
          let temp_html = `<option value="${instrument1}" >${instrument1}</option>`;
          let temp_html2 = `<option value="${instrument1}">`;
          $("#instrument_list").append(temp_html2);
          $("#instrument_search").append(temp_html);

        })
        $("#user").empty()
        let temp_html = `<option selected value="{{ user_info['username'] }}">{{ user_info['name'] }}({{ user_info['username'] }})</option>`
        $("#user").append(temp_html)
        rows2.forEach((b) => {
          let username = b["username"]
          let name = b["name"]
          // let instrument1 = b[0]
          let temp_html = `<option value="${username}" >${name}(${username})</option>`;
          $("#user").append(temp_html);

        });
      });
    }
    function select2() {
      fetch('/instrument_and_user_list').then((res) => res.json()).then((data) => {
        let rows2 = data['instrument']

        rows2.forEach((b) => {
          let instrument1 = b["instrument"]
          let temp_html = `<option value="${instrument1}" >${instrument1}</option>`;
          $("#instrument").append(temp_html);
        });
      });

    }

    function instrument_select() {
      let instrument_select = document.getElementById("instrument_manual_search");
      if (instrument_select.value === "장비명") {
        // alert("장비를 선택해주세요");
        instrument_select.focus();
        return false;
      }
      let selectedValue = instrument_select.value;
      let formData = new FormData();
      let code = $("#code_manual_search").val();
      formData.append("instrument_select", selectedValue);
      formData.append("code_manual_search", code);
      console.log(selectedValue)

      fetch('/instrument_select_in', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {

        $("#name_manual_search").empty();
        temp_html = `<option selected value="">시약명</option>`
        $("#name_manual_search").append(temp_html);
        var inputlot = document.getElementById("lot_manual");
        inputlot.value = "";
        let rows = data['result']
        console.log(rows)

        rows.forEach((c) => {
          let name = c["name"]
          let gtin = c["gtin"]
          let temp_html = `<option value="${gtin}" >${name}</option>`;
          $("#name_manual_search").append(temp_html);
        });
      });
    };
    function instrument_select2() {
      let instrument_select = document.getElementById("instrument_search");
      if (instrument_select.value === "장비명") {
        // alert("장비를 선택해주세요");
        instrument_select.focus();
        return false;
      }
      let selectedValue = instrument_select.value;
      let formData = new FormData();
      let code = $("#code_search").val();
      formData.append("instrument_select", selectedValue);
      formData.append("code_manual_search", code);
      console.log(selectedValue)

      fetch('/instrument_select', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {

        $("#reagent_search").empty();
        temp_html = `<option selected value="all">전체</option>`
        $("#reagent_search").append(temp_html);


        let rows = data['result']
        console.log(rows)

        rows.forEach((c) => {
          let name = c["name"]
          let gtin = c["gtin"]
          let temp_html = `<option value="${gtin}" >${name}</option>`;
          $("#reagent_search").append(temp_html);
        });
      });
      search1();
    };

    function reagent_info() {
      let name_value = document.getElementById("name");
      let name = name_value.value
      let gtin = $("#gtin").val();
      let formData = new FormData();
      formData.append("name",name);
      formData.append("gtin",gtin);
      fetch('/reagent_info', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
        

        detail = data[0]

        if (detail == null) {
         
          // $("#detail_form").removeClass("detail").addClass("detail2")
          // $("#edit_butten").empty();
          // let temp_html = `
          //   <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="del_modal()">삭제</button>
          //   <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edit_modal('r')">등록</button>`
          // $("#edit_butten").append(temp_html);
          $("#order-box").empty();

        }
        else {
          let instrument = detail['instrument']
          let code = detail['code'];
          let temp = detail['temp'];
          let volume = detail['volume'];
          let total_ea = detail['total_ea'];
          let onboard = detail['onboard']
          let unit = detail['unit'];
          let make_onboard = detail['make_onboard_day']
          let manufact = detail['manufact']
          let gtin_value = detail['gtin']
          let etc = detail['etc']
          let print_form = detail['print_form']
            let howinreagent = etc !== null ? etc : '';
          console.log(data)
          // console.log(name, instrument, code, temp, volume, total_ea, onboard, gtin)
          
          $("#instrument").val(instrument);
          $("#code").val(code);
          $("#temp").val(temp);
          $("#volume").val(volume);
          $("#unit").val(unit);
          $("#total_ea").val(total_ea);
          $("#onboard").val(onboard);
          $("#make_onboard").val(make_onboard)
          $("#manufact").val(manufact);
          $("#etc").val(howinreagent);
          $("#print_form").val(print_form)
          // $("#detail_form").removeClass("detail2").addClass("detail")
          // $("#edit_butten").empty()
          // let temp_html = `
          //     <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="del_modal()">삭제</button>
          //     <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edit_modal('r')">등록</button>`
          // $("#edit_butten").append(temp_html)
          $("#order-box").empty();



          data.forEach((c) => {
            let name = c["name"];
            let code = c["code"];
            let instrument = c['instrument']
            let temp = c['temp']
            let gtin = c['gtin']
            let volume = c['volume']
            let total_ea = c['total_ea']
            let onboard = c['onboard']
            let manufact = c['manufact']
            let unit = c['unit']
            // console.log(status)

            let temp_html = `
                <tr>
                  <td>${instrument}</td>
                  <td>${code}</td>
                  <td>${name}</td>
                  <td>${temp}</td>
                  <td>${volume}</td>
                  <td>${unit}</td>
                  <td>${total_ea}</td>
                  <td>${onboard}</td>
                  <td rowspan="2" class="name" onclick="edit('${gtin}')"><span class="badge rounded-pill text-bg-warning">Edit/Del</span></td>
                </tr>
                <tr>
                  <td colspan="8">${manufact}</td>
                </tr>`
            $("#order-box").append(temp_html);
          });
        }
      })

    }

    function search_reagent() {
      var input = document.getElementById("barcode");
      if (input.value === "") {
        alert("바코드를 입력해주세요.");
        input.focus();
        return false;
      }

      input.focus();
      let barcode = $("#barcode").val();
      // let type = $("#type").val();
      let gtin = barcode.substring(2, 16);
      let check = barcode.slice(0, 2);

      let formData = new FormData();
      formData.append("gtin", barcode);


      fetch('/reg_barcode', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
        // console.log(data);
        detail = data[0]

        if (detail == null) {
          let gtin_value = (check === '01') ? `${gtin}` : ''
          $("#gtin").val(gtin_value)
          $("#detail_form").removeClass("detail").addClass("detail2")
          $("#edit_butten").empty();
          let temp_html = `
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="del_modal()">삭제</button>
            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edit_modal('r')">등록</button>`
          $("#edit_butten").append(temp_html);
          $("#order-box").empty();

        }
        else {
          let name = detail['name'];
          let post_name = detail['name'];
          let instrument = detail['instrument']
          let code = detail['code'];
          let temp = detail['temp'];
          let volume = detail['volume'];
          let total_ea = detail['total_ea'];
          let onboard = detail['onboard']
          let unit = detail['unit'];
          let make_onboard = detail['make_onboard_day']
          let manufact = detail['manufact']
          let gtin_value = detail['gtin']
          let etc = detail['etc']
          let print_form = detail['print_form']
            let howinreagent = etc !== null ? etc : '';
          console.log(data)
          // console.log(name, instrument, code, temp, volume, total_ea, onboard, gtin)
          $("#name").val(name);
          $("#post_name").val(post_name);
          $("#gtin").val(gtin_value);
          $("#instrument").val(instrument);
          $("#post_instrument").val(instrument);
          $("#code").val(code);
          $("#temp").val(temp);
          $("#volume").val(volume);
          $("#unit").val(unit);
          $("#total_ea").val(total_ea);
          $("#onboard").val(onboard);
          $("#make_onboard").val(make_onboard)
          $("#manufact").val(manufact);
          $("#etc").val(howinreagent);
          $("#print_form").val(print_form);
          $("#detail_form").removeClass("detail2").addClass("detail")
          $("#edit_butten").empty()
          let temp_html = `
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="del_modal()">삭제</button>
              <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edit_modal('e')">수정</button>`
          $("#edit_butten").append(temp_html)
          $("#order-box").empty();



          data.forEach((c) => {
            let name = c["name"];
            let code = c["code"];
            let instrument = c['instrument']
            let temp = c['temp']
            let gtin = c['gtin']
            let volume = c['volume']
            let total_ea = c['total_ea']
            let onboard = c['onboard']
            let manufact = c['manufact']
            let unit = c['unit']
            // console.log(status)

            let temp_html = `
                <tr>
                  <td>${instrument}</td>
                  <td>${code}</td>
                  <td>${name}</td>
                  <td>${temp}</td>
                  <td>${volume}</td>
                  <td>${unit}</td>
                  <td>${total_ea}</td>
                  <td>${onboard}</td>
                  <td rowspan="2" class="name" onclick="edit('${gtin}')"><span class="badge rounded-pill text-bg-warning">Edit/Del</span></td>
                </tr>
                <tr>
                  <td colspan="8">${manufact}</td>
                </tr>`
            $("#order-box").append(temp_html);
          });
        }
        // select2();
        var inputbarcode = document.getElementById("barcode");
        inputbarcode.value = "";
        let input_name = document.getElementById("name");
        input_name.focus();
      });
    }

    function edit_modal2(mode) {

      let gtin = $("#gtin").val();
      let name = $("#name").val();
      let post_name = $("#post_name").val();
      let instrument = $("#instrument").val();
      let post_instrument = $("#post_instrument").val();
      let code = $("#code").val();
      let temp = $("#temp").val();
      let volume = $("#volume").val();
      let total_ea = $("#total_ea").val();
      let onboard = $("#onboard").val();
      let unit = $("#unit").val();
      let manufact = $("#manufact").val()
      let make_onboard = $("#make_onboard").val()
      let etc = $("#etc").val()
      let print_form = $("#print_form").val()
      let name_short = name.replace(/ /g, '_').replace(/\//g, '_').replace(/&/g, '_').replace(/\./g, '_').replace(/\%/g, '_')

      // console.log(post_gtin,post_name,post_instrument,post_code,post_temp,post_volume,post_total_ea,post_onboard,post_unit,post_manufact,make_onboard,name_short,etc)
      let formData = new FormData();
      formData.append("gtin", gtin);
      formData.append("name", name);
      formData.append("post_name",post_name);
      formData.append("instrument", instrument);
      formData.append("post_instrument",post_instrument)
      formData.append("code", code);
      formData.append("temp", temp);
      formData.append("volume", volume);
      formData.append("total_ea", total_ea);
      formData.append("onboard", onboard);
      formData.append("unit", unit);
      formData.append("manufact", manufact);
      formData.append("mode", mode);
      formData.append("name_short", name_short);
      formData.append("make_onboard", make_onboard);
      formData.append("print_form", print_form)
      formData.append("etc",etc);


      fetch('/reg_edit', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
        reagent()
        search1();
      });
      $("#name").val("");
      $("#post_name").val("");
      $("#gtin").val("");
      $("#instrument").val("");
      $("#post_instrument").val("");
      $("#code").val("");
      $("#temp").val("");
      $("#volume").val("");
      $("#unit").val("");
      $("#total_ea").val("");
      $("#onboard").val("");
      $("#make_onboard").val("");
      $("#manufact").val("");
      $("#etc").val("");
      $("#print_form").val("");
      $("#edit_butten").empty()
      let temp_html = `
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="del_modal()">삭제</button>
        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edit_modal('r')">등록</button>`
      $("#edit_butten").append(temp_html);
    }

    function edit(gtin) {

      let check = "01"
      let barcode = check + gtin
      console.log(gtin, barcode)
      let formData = new FormData();
      formData.append("gtin", barcode);

      fetch('/reg_barcode', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
        // console.log(data);
        detail = data[0]

        if (detail == null) {
          $("#gtin").val(gtin);
          $("#detail_form").removeClass("detail").addClass("detail2")
          $("#edit_butten").empty();
          let temp_html = `
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="del_modal()">삭제</button>
            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edit_modal('r')">등록</button>`
          $("#edit_butten").append(temp_html);
        }
        else {
          let name = detail['name'];
          let post_name = detail['name'];
          let instrument = detail['instrument']
          let code = detail['code'];
          let temp = detail['temp'];
          let volume = detail['volume'];
          let total_ea = detail['total_ea'];
          let onboard = detail['onboard']
          let unit = detail['unit']
          let make_onboard = detail['make_onboard_day']
          let manufact = detail['manufact']
          let etc = detail['etc']
          let print_form = detail['print_form']
            let howinreagent = etc !== null ? etc : '';
          console.log(data)
          console.log(name, instrument, code, temp, volume, total_ea, onboard, gtin)
          $("#name").val(name);
          $("#post_name").val(post_name);
          $("#gtin").val(gtin);
          $("#instrument").val(instrument);
          $("#post_instrument").val(instrument);
          $("#code").val(code);
          $("#temp").val(temp);
          $("#volume").val(volume);
          $("#unit").val(unit);
          $("#total_ea").val(total_ea);
          $("#onboard").val(onboard);
          $("#make_onboard").val(make_onboard);
          $("#manufact").val(manufact);
          $("#etc").val(howinreagent);
          $("#detail_form").removeClass("detail2").addClass("detail")
          $("#print_form").val(print_form)
          $("#edit_butten").empty();
          let temp_html = `
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="del_modal()">삭제</button>
            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edit_modal('e')">수정</button>`
          $("#edit_butten").append(temp_html);
        }

        // select2();
        let input_name = document.getElementById("name");
        input_name.focus();
      });
    }


    function search1() {
      let start = $("#start").val();
      let end = $("#end").val();
      // let instrument_search = $("#instrument_search").val();
      let instrument_search = document.getElementById("instrument_search").value;
      let code_search = document.getElementById("code_search").value;
      // var instrument_search = document.querySelector('input[name="instrumnet_search"]:checked').value;
      let reagent_search = document.getElementById("reagent_search").value;
      let formData = new FormData();
      formData.append("instrument_give", instrument_search)
      formData.append("code_give", code_search)
      formData.append("gtin", reagent_search)

      fetch('/reg_search', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {

        $("#order-box").empty();

        let rows = data['result']
        console.log(rows)

        rows.forEach((c) => {
          let name = c["name"];
          let code = c["code"];
          let instrument = c['instrument']
          let temp = c['temp']
          let gtin = c['gtin']
          let volume = c['volume']
          let total_ea = c['total_ea']
          let onboard = c['onboard']
          let manufact = c['manufact']
          let unit = c['unit']
          // console.log(status)

          let temp_html = `
            <tr>
              <td>${instrument}</td>
              <td>${code}</td>
              <td>${name}</td>
              <td>${temp}</td>
              <td>${volume}</td>
              <td>${unit}</td>
              <td>${total_ea}</td>
              <td>${onboard}</td>
              <td rowspan="2" class="name" onclick="edit('${gtin}')"><span class="badge rounded-pill text-bg-warning">Edit/Del</span></td>
            </tr>
            <tr>
              <td colspan="8">${manufact}</td>
            </tr>`
          $("#order-box").append(temp_html);

        });

      });


    }
    function del() {
      let gtin = $("#gtin").val();
      let formData = new FormData();
      formData.append("gtin", gtin);

      fetch('/del_reg', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
        reagent()
        search1();
      });
      $("#name").val("");
      $("#post_name").val("")
      $("#gtin").val("");
      $("#instrument").val("");
      $("#post_instrument").val("");
      $("#code").val("");
      $("#temp").val("");
      $("#volume").val("");
      $("#unit").val("");
      $("#total_ea").val("");
      $("#onboard").val("");
      $("#make_onboard").val("");
      $("#manufact").val("");
      $("#etc").val("")
      $("#print_form").val("")
      $("#edit_butten").empty()
      let temp_html = `
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="del_modal()">삭제</button>
        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="edit_modal('r')">등록</button>`
      $("#edit_butten").append(temp_html);
    }
    function enterkey() {
      if (window.event.keyCode == 13) {

        // 엔터키가 눌렸을 때 실행할 내용
        search_reagent();
      }
    }
    function enterkey2() {
      if (window.event.keyCode == 13) {

        // 엔터키가 눌렸을 때 실행할 내용
        save();
      }
    }
    function del_modal() {
      $("#modal").empty();
      let temp_html = `
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="manualinputLabel">경고</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="warning">
          <div class="alert alert-danger" role="alert">
            시약 정보를 정말 삭제하겠습니까?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="del()">삭제</button>
        </div>`
      $("#modal").append(temp_html);
    }
    function edit_modal(mode) {
      let input_name = document.getElementById("name");
      if (input_name.value === "") {
        alert("시약명을 입력해주세요.");
        input_name.focus();
        return false;
      }
      let input_gtin = document.getElementById("gtin");
      if (input_gtin.value === "") {
        alert("등록번호를 입력해주세요.");
        input_gtin.focus();
        return false;
      }
      let input_instrument = document.getElementById("instrument");
      let input_code = document.getElementById("code");
      let input_temp = document.getElementById("temp");
      let input_volume = document.getElementById("volume");
      let input_total_ea = document.getElementById("total_ea");
      let input_onboard = document.getElementById("onboard")
      if (input_instrument.value === "" || input_code.value === "" || input_temp.value === "" || input_volume.value === "" || input_total_ea.value === "" || input_onboard.value === "") {
        alert("시약 정보를 확인해주세요");

        return false;
      }
      $("#modal").empty();
      let temp_html = `
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="manualinputLabel">경고</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="warning">
          <div class="alert alert-warning" role="alert">
            시약 정보를 정말 수정/등록하겠습니까?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" onclick="edit_modal2('${mode}')">등록/수정</button>
        </div>`
      $("#modal").append(temp_html);
      // reagent();
    }

  </script>

</head>

<body>

  <div class="order">
    <!-- navigation -->
    <div>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">시약등록관리</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" width="70%">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="home()">입고</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="out_index()">출고</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" onclick="make_reagent()">제조</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="total()">현황</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" onclick="ref_reg()">등록</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="report()">보고</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="admin()">사용자관리</a>
              </li>
            </ul>
          </div>
        </div>
        <form class="container-fluid">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">사용자</span>
            <select class="form-select form-select-sm" id="user" onchange="user_change()">
              <option selected value="default">{{ user_info['name'] }}</option>
            </select>
            <span>
              <type="button" class="btn btn-warning btn" onclick="logout()">Logout</button>
            </span>
          </div>
        </form>
      </nav>
    </div>

    <div class="order-info">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text">검색</span>
        <input id="barcode" list="reagent" type="text" class="form-control form-control-sm" onkeyup="enterkey();"
          autofocus>
        <datalist id="reagent">

        </datalist>
        <span>
          <type="button" class="btn btn-warning btn-sm" onclick="search_reagent()">입력</button>
        </span>
        <span>
          <type="button" class="btn btn-primary btn-sm" onclick="ref_reg()">초기화</button>
        </span>
      </div>


      <div class="inreagent" id="detail">
        <div class="detail" id="detail_form">
          <form class="row g-2">
            <div class="col-md-7" id="nameform">
              <label for="name" class="form-label">시약명</label>
              <input type="text" list="reagent" class="form-control" id="name" onchange="reagent_info()">
              <input type="text" class="form-control" id="post_name" hidden>
              <input type="text" class="form-control" id="post_instrument" hidden>
            </div>


            <div class="col-md-5" id="gtinform">
              <label for="gtin" class="form-label">등록번호</label>
              <input type="text" class="form-control" id="gtin">
            </div>
            <div class="col-md-4" id="instrumentform">
              <label for="instrument" class="form-label">장비명</label>
              <input list="instrument_list" id="instrument" type="text" class="form-control">
              <datalist id="instrument_list">
              
              </datalist>
            </div>
            <div class="col-md-2" id="codeform">
              <label for="code" class="form-label">분류</label>
              <select id="code" class="form-select">
                <option value="" selected>Choose...</option>
                <option value="시약">시약</option>
                <option value="Cal/QC">Cal/QC</option>
                <option value="보조시약">보조시약</option>
                <option value="소모품">소모품</option>

              </select>
            </div>
            <div class="col-md-2" id="tempform">
              <label for="temp" class="form-label">보관온도</label>
              <select id="temp" class="form-select">
                <option value="" selected>Choose...</option>
                <option value="냉장">냉장</option>
                <option value="실온">실온</option>
                <option value="냉동">냉동</option>
              </select>
            </div>
            <div class="col-md-2" id="volumeform">
              <label for="volumn" class="form-label">테스트수</label>
              <input type="number" class="form-control" id="volume">

            </div>
            <div class="col-md-2" id="unitform">
              <label for="volumn" class="form-label">단위</label>
              <input type="text" class="form-control" id="unit">

            </div>
            <div class="col-md-2" id="total_eaform">
              <label for="total_ea" class="form-label">포장수량</label>
              <input type="number" class="form-control" id="total_ea">

            </div>
            <div class="col-md-2" id="onboardform">
              <label for="total_ea" class="form-label">기본장착수량</label>
              <input type="number" class="form-control" id="onboard">

            </div>
            <div class="col-md-2" id="make_onboardform">
              <label for="make_onboard" class="form-label">제조유효기간(일)</label>
              <input type="number" class="form-control" id="make_onboard" value="0">

            </div>
            <div class="col-md-4" >
              <label for="etc" class="form-label">입고방법</label>
              <textarea class="form-control" id="etc" rows="1"></textarea>

            </div>
            <div class="col-md-2" >
              <label for="print_form" class="form-label">출고표시</label>
              <select id="print_form" class="form-select">
                <option value="" selected>Choose...</option>
                <option value="reagent">reagent</option>
                <option value="vial">vial</option>
                
              </select>
            </div>
            <div class="mb-3">
              <label for="manufactform" class="form-label">조제방법</label>
              <textarea class="form-control" id="manufact" rows="1"></textarea>
            </div>

            <div class="modal-footer" id="edit_butten">

              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"
                onclick="del_modal()">
                삭제
              </button>
              <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"
                onclick="edit_modal('r')">등록</button>`
            </div>

          </form>
        </div>

      </div>
    </div>
    <P></P>
    <div class="order-info">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text">장비명</span>

        <select id="instrument_search" class="form-select" onchange="instrument_select2()">
          <option selected value="all">전체</option>

        </select>
        <span class="input-group-text">분류</span>

        <select id="code_search" class="form-select" onchange="instrument_select2()">
          <option selected value="all">전체</option>
          <option value="시약">시약</option>
          <option value="Cal/QC">Cal/QC</option>
          <option value="보조시약">보조시약</option>
          <option value="소모품">소모품</option>

        </select>
        <span class="input-group-text">시약명</span>
        <select id="reagent_search" class="form-select" onchange="search1()">
          <option selected value="all">전체</option>
        </select>
      </div>

    </div>

    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">장비명</th>
            <th scope="col">분류</th>
            <th scope="col">시약명</th>
            <th scope="col">보관온도</th>
            <th scope="col">테스트수</th>
            <th scope="col">단위</th>
            <th scope="col">포장수량</th>
            <th scope="col">장비장착수량</th>
            <th scope="col" rowspan="2" style="vertical-align : middle;">수정/삭제</th>
          </tr>
          <tr>
            <th scope="col" colspan="8">조제방법</th>
          </tr>
        </thead>
        <tbody id="order-box" class="align-middle">
        </tbody>
      </table>
    </div>
  </div>


  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content" id="modal">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="manualinputLabel">경고</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="warning">
          <div class="alert alert-danger" role="alert">
            시약 정보를 정말 삭제하겠습니까?
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="manual_save()">삭제</button>
        </div> -->
      </div>
    </div>
  </div>

</body>